.movie-list {
    display: flex;
    justify-content: space-around;
}

.movie-item {
    width: 300px;
    margin-bottom: 10px;
    background: cornsilk;

}

.img {
    display: block;
}

.movie {
    text-align: center;
}